import { Schema, model } from "mongoose"
import { I{{ className }}, I{{ className }}Document } from "./{{ fileName }}.interface";


let Schema = Schema;
let {{ className }}Schema = new Schema<I{{ className }}Document>(
    {
        createdAt: { type: Date, default: Date.now },
        updatedAt: { type: Date, required: false },
    },
    { _id: true }
);


export default model<I{{ className }}Document>("{{ className }}", {{ className }}Schema);