// Backgrounds
$background-color: #020617; // Dark Gray
$accent-background-color: #1B1F2E; // Slightly Darker Shade
$content-background-color: #1B1F2E; // Slightly Darker Than Background

// Text Colors
$primary-text-color: #ffffff; // White
$secondary-text-color: #cccccc; // Light Gray
$accent-text-color: #8c8c8c; // Medium Gray
$link-color: #4eb5f1; // Light Blue

// Buttons and UI Elements
$primary-button-color: #4eb5f1; // Light Blue
$secondary-button-color: #606060; // Dark Gray
$success-color: #4caf50; // Green
$warning-color: #ffc107; // Yellow
$danger-color: #ff5252; // Red

// Borders and Dividers
$primary-border-color: #333333; // Slightly Darker Than Background
$secondary-border-color: #1e293bcc; // Lighter Gray for Borders
$divider-color: #2f2f2f; // Dark Gray


// Hover and Selection
$hover-color: #3a3a3a; // Slightly Darker Than Background
$active-color: #4eb5f1; // Light Blue

// Shadows
$shadow-color: rgba(0, 0, 0, 0.2); // Subtle Black Shadow
